.column {
  border: 1px solid;
  color: white;
  float: left;
  width: 33.3333%;
  border: 1px solid;
  box-sizing: border-box;
}

.container:after { /*clear float*/
  content: "";
  display: table;
  clear: both;
}

span {
  padding-left: 0.3rem;
}



/*.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}*/

/*
.left-container {
  width: 30%;
}

.center-container {
  width: 30%;
}


.right-container {
  width: 30%;
}*/