.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {

  text-align: center;
  color: white;
}

.title {
  font-size: 4.5rem;
  margin-bottom: 0rem;
}

.sub-title {
  font-size: 1.5rem;
  margin-top: 0rem;
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic-button {
  font-size: 1.3rem;
  background-color: orange;
  color: navy;
  margin: 1rem;
  height: 5rem;
  width: 8rem;
}

